body {
    background-color: blanchedalmond;
    display: flex;
}

.list {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    box-sizing: border-box;
}

.card {
    width: 25vw;
    margin: 1rem;
    box-sizing: border-box;
}